<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Dades Item</title>
</head>

<body>
    <h1>Creació d'item</h1>
    <div class="gran">
        <div class="opcions">
            <h2>Quin tipus d'item vols crear?</h2>
            <form>
                <label for="simple">Simple</label>
                <input type="radio" id="simple" name="eleccio">
                <label for="visual">Visual</label>
                <input type="radio" id="visual" name="eleccio"><br>
            </form>
            <button type="submit">Tria</button>
        </div>
        <div class="opcions">
            <h2>Omple les dades</h2>
            <button type="submit">Crea</button>
        </div>
    </div>
</body>

</html>